* {
    /*applique à toute la page*/
    margin: 0;
    /*supprime le contour blanc*/
    font-family: "Encode Sans";
    /*ou "Prompt", j'ai importé 2 polices qui me plaisaient via google front*/
}

.recherche {
    height: 2px;
    width: 300px;
}

.recherche input {
    color: white;
    border-color: white;
    text-decoration: none;
}

.recherche ::placeholder {

    /* Firefox, Chrome, Opera */
    color: white;
}

.recherche :-ms-input-placeholder {

    /* Internet Explorer 10-11 */
    color: white;
}

.recherche ::-ms-input-placeholder {

    /* Microsoft Edge */
    color: white;
}

.bla {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    gap: 2px;
}

.bla2 {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.bla2 a {
    color: black;
}

li {
    margin-top: 35px;
    display: flex;
}

.boxend {
    background-color: #88b29e3c;
    border-radius: 100px;
    box-sizing: border-box;
    box-shadow: 20px 20px 20px #d9d0cc;
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: 0.8s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 100px;
    margin-top: 120px;
}

.boxend:hover {
    box-shadow: none;
    transition: 0.8s;
}

.ctr {
    justify-content: center;
}

a {
    color: #f8b84e;
    text-decoration: none;
}

.box {
    background-color: #88b29e3c;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 20px 20px 20px #d9d0cc;
    width: 300px;
    height: 400px;
    cursor: pointer;
    transition: 0.8s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}

.box input,
.box input {
    color: #fff;
    font-weight: bold;
    background-color: #d58498;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 5px #9f9fa2;
    transition: 0.5s;
}

.box input:hover,
.box input:hover {
    box-shadow: none;
    transition: 0.5s;
}

.box input {
    margin-top: 30px;
}

.box input {
    cursor: pointer;
    border-bottom: solid 1px #d58498;
    padding: 10px 10px;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 20px;
}

.infoP {
    text-transform: uppercase;
    font-size: larger;
    font-weight: bolder;
}

.infoPD {
    text-transform: uppercase;
    font-size: larger;
    font-weight: bolder;
    color: rgb(247, 165, 32);
}

.info {
    margin-top: 3px;
}

.box:hover {
    box-shadow: none;
    transition: 0.8s;
}

.info {
    position: center;
}

.infoEntreprise {
    font-size: 40px;
}

.bold {
    font-weight: bolder;
}

.main {
    padding: 0 10%;
    /* marges éspacement des bords*/
    background: linear-gradient(
            /*fond de la première page dégradé*/
            to bottom,
            /* on peut aussi mettre to top, to right, to left*/
            #fff,
            #e3c2b3 100%);
    height: 100vh;
    /*configure pour que la première page remplisse l'écran*/
    display: flex;
}

.mainAdd {
    display: flex;
    padding: 0 1%;
}

.mainAdd p {
    font-size: 25px;
}

.gauche {
    margin-right: 100px;
    padding: 10px 10px;
}

.mainAdd select {
    border: 0;
    border-bottom: solid 1px #d58498;
    font-size: large;
    background-color: #88b29e;
}

.mainAdd select,
input {
    background-color: transparent;
    padding: 10px 10px;
}

.mainAdd input {
    font-size: 25px;
    width: 350px;
    height: 20px;
    border: 0;
    border-bottom: solid 1px #d58498;
    padding: 10px 10px;
    text-decoration: none;
}


.mainAdd2 {
    display: flex;
    padding: 0 3%;
    flex-direction: column;
}

.mainAdd2 p {
    font-size: 25px;
}

.mainAdd2 select {
    border: 0;
    border-bottom: solid 1px #d58498;
    font-size: large;
    background-color: #88b29e;
}

.mainAdd2 select,
input {
    background-color: transparent;
    padding: 10px 10px;
}

.mainAdd2 input {
    font-size: 25px;
    width: 350px;
    height: 20px;
    border: 0;
    border-bottom: solid 1px #d58498;
    padding: 10px 10px;
    text-decoration: none;
}


.together {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

input:focus {
    outline: none;
}

h2 {
    margin-top: 40px;
}

button {
    background: #d58498;
    color: #fff;
    border: none;
    position: relative;
    height: 60px;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

button:hover {
    background: transparent;
    color: #88b29e;
}

button:before,
button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #d58498;
    transition: 400ms ease all;
}

button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

button:hover:before,
button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.navbar {
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* configure un éspace entre les items*/
    position: fixed;
    /*pendant le scroll, la barre reste fixe*/
    padding: 0 3%;
    left: 0;
    right: 0;
    background: #d58498;
    /*J'ai ajouté de la transparence*/
    z-index: 6;
}

.logomed {
    height: 140px;
}

.logo {
    color: #fff;
    font-size: 35px;
}

.menu {
    width: 85%;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*aligne les items de gauche à droite et non de haut en bas -> pas de retour à la ligne*/

ul li {
    list-style: none;
    padding: 8px 20px 0 20px;
    font-size: 30px;
}

ul li::after {
    content: "";
    /*petite barre sous les items*/
    width: 0%;
    height: 2px;
    background: #f8b84e;
    display: block;
    margin: auto;
}

ul li:hover::after {
    width: 100%;
}

ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    /*le temps de transition vers le bleu lorsque l'utilisateur passe la souris"*/
}

ul li a:hover {
    color: #f8b84e;
}

.page1 {
    color: #88b29e;
    display: flex;
    margin: 20% 0;
}

.intro .text {
    font-size: 30px;
    margin-bottom: 20px;
}

.intro h1 {
    font-size: 50px;
    letter-spacing: 2px;
    margin-bottom: 35px;
}


.intro>button:hover {
    color: #077EC3;
    transform: scale(1, 02);
}

.intro span {
    color: #f8b84e;
    font-size: 65px;
    width: bolder;
}

.form h2 {
    text-align: center;
    color: #335bb1;
    font-size: 22px;
    padding: 8px;
    text-transform: uppercase;
}

h3 {
    text-align: center;
}

.form>.btn a {
    text-decoration: none;
    transition: 0.3s ease;
}

.form .link {
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a {
    text-decoration: none;
    color: #f8b84e;
}

.page2,
.page4,
.page3,
.page5 {
    border-radius: 5px;
    padding: 10% 5%;
}

.page3 {
    background: #00000014;
}

.page5 {
    background: #f8b74e2b;
}


.page2 h2,
.page4 h2,
.page3 h2,
.page5 h2 {
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: bold;
    color: #f8b84e;
    text-align: center;
}

.page2 p,
.page4 p,
.page3 p,
.page5 p {
    text-align: center;
}

.row {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.col {
    flex-basis: 40%;
    background: #747bd130;
    border-radius: 10px;
    padding: 30px 12px;
    box-sizing: border-box;
}

.col h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.page4-col {
    flex-basis: 24%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.page4-col img {
    width: 100%;
    height: 100%;
    display: block;
}

.git {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/images/5.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 70px 0;
}

.git h1 {
    color: #fff;
    margin-bottom: 35px;
    text-transform: capitalize;
}

.git h1 span {
    color: #335bb1;
}

.git a {
    border: 1px solid #fff;
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
}

.git a:hover {
    background: #fff;
    color: #335bb1;
}

.photoj {
    height: 500px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 40%;
}

.photopendu {
    height: 600px;
    opacity: 80%;
    z-index: 1;
}

.icontea {
    height: 80px;
}

.imgynov {
    height: 300px
}

.photoflav {
    height: 500px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 40%;
}

.anat {
    display: flex;
    justify-content: flex-end;
}

.vinci {
    background-color: grey;
}

.vinci:hover {
    content: "Da vinci !";
}